<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Формирование заказа</title>
</head>
<body>
<form action="#" th:action="@{/saveOrder}" th:object="${orders}" method="post">
    ID: <input type="number" readonly="readonly" th:field="*{id}"><br/>
    Дата: <input type="date" th:field="*{date}"><br/>
    Стоимость: <input type="text" th:field="*{cost}"><br/>
    Товары: <select id="products" th:field="*{products}" multiple="multiple">
    <option th:each="product : ${allProducts}" th:value="${{product}}" th:text="${product.name}">
    </option>
</select> <br/>
    ID пользователя: <input type="text" th:field="*{user.id}"><br/>
    <input type="submit" value="Сохранить">
</form>
</body>
</html>