<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Карты</title>
</head>
<body>
<table border="2">
    <thead>
    <tr>
        <th>ID</th>
        <th>Номер</th>
        <th>Дата</th>
        <th>Код</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="creditCard : ${creditCards}">
        <td th:text="${creditCard.id}"></td>
        <td th:text="${creditCard.number}"></td>
        <td th:text="${creditCard.month}+'/'+${creditCard.year}"></td>
        <td th:text="${creditCard.code}"></td>
        <td><a th:href="'editCreditCard'+'?id='+${creditCard.id}">Изменить</a></td>
        <td><a th:href="'deleteCreditCard'+'?id='+${creditCard.id}">Удалить</a></td>
    </tr>
    </tbody>
</table>
<p><a href="addCreditCard">Добавить</a></p>
</body>
</html>