<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<a th:href="users">Пользователи</a>
<a th:href="creditCards">Карты</a>
<a th:href="products">Товары</a>
<a th:href="'orders'+'?dateFrom='+'2017-12-12'">Заказы</a>
</body>
</html>