<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Заказы</title>
</head>
<body>
<form th:action="@{/getOrdersFromDate}" th:object="${dateFrom}" method="get">
    <input type="date" th:id="dateFrom" th:name="dateFrom">
    <input type="submit" value="Сортировать">
</form>
<table border="2">
    <thead>
    <tr>
        <th>ID</th>
        <th>Дата</th>
        <th>Стоимость</th>
        <th>ID пользователя</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orders : ${orders}">
        <td th:text="${orders.id}"></td>
        <td th:text="${orders.date}"></td>
        <td th:text="${orders.cost}"></td>
        <td th:text="${orders.user.id}"></td>
    </tr>
    </tbody>
</table>
<p th:inline="text">Сумма: [[${fullCost}]]</p>
<p><a th:href="addOrder">Добавить</a></p>
</body>
</html>