<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Товары</title>
</head>
<body>
<table border="2">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Цена</th>
        <th>18+</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.isAdult}"></td>
        <td><a th:href="'editProduct'+'?id='+${product.id}">Изменить</a></td>
        <td><a th:href="'deleteProduct'+'?id='+${product.id}">Удалить</a></td>
    </tr>
    </tbody>
</table>
<p><a href="addProduct">Добавить</a></p>
</body>
</html>