<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<table border="2">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>День рождения</th>
        <th>Баланс</th>
        <th>Логин</th>
        <th>Пароль</th>
        <th>ID кредитной карты</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstname}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.birthday}"></td>
        <td th:text="${user.balance}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.creditCard.id}"></td>
        <td><a th:href="'editUser'+'?id='+${user.id}">Изменить</a></td>
        <td><a th:href="'deleteUser'+'?id='+${user.id}">Удалить</a></td>
    </tr>
    </tbody>
</table>
<p><a href="addUser">Добавить</a></p>
</body>
</html>